@use "@/styles/variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

.navbar {
  z-index: 1000;
  height: fit-content;
  background-color: unset;
  position: fixed;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s, margin-top 0.2s;
  height: 5rem;
}

.scrolled {
  background-color: $color-dark;
  margin-top: 0.125rem;
}

.logoFiap {
  cursor: pointer;
  width: 5.25rem;
  height: 1.4375rem;

  transform: translateY(2rem);
  transition: width 0.3s, height 0.3s;

  @include respond(lg) {
    width: 7.5rem;
    height: 2rem;
  }

  @include respond(3xl) {
    width: 6rem;
    height: 1.625rem;
  }

  @include respond(5xl) {
    width: 9rem;
    height: 2.4375rem;
    margin-top: -0.625rem;
  }
}
