@use "@/styles/variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

@include fadeIn();
@include revealSections();

.courses {
  position: relative;
  margin: 25rem 1rem 0 1.95rem;
  height: 100dvh;

  h2,
  p,
  h3 {
    letter-spacing: 0.03rem;
    font-weight: 500;
  }

  h2 {
    font-size: 3.875rem;
    line-height: 3.75rem;
    padding-bottom: 2.28125rem;
  }

  p.subtitle {
    color: $color-red;
    font-size: 1.375rem;
    line-height: 1.6875rem;
    padding-bottom: 3.75rem;
  }

  .selected {
    position: relative;
    color: $color-white;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1.6rem;
      height: 0.3rem;
      background: $color-red;
      border-radius: 2px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @include respond(xl) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 80dvw;
    margin: 50dvh auto 5rem;
    transform: translateX(-4.4rem);

    h2 {
      font-size: 5.75rem;
      line-height: 4.25rem;
      padding-bottom: 1.25rem;
    }

    p.subtitle {
      font-size: 1.375rem;
      letter-spacing: 0.03rem;
    }

    nav {
      display: flex;
      gap: 6.1875rem;
      transform: translateY(2.5rem);

      & > * {
        cursor: pointer;
        position: relative;
        color: $color-medium;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 1.6rem;
          height: 0.3rem;
          background: $color-red;
          border-radius: 2px;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover::before,
        &.selected::before {
          transform: scaleX(0.5);
        }
      }
    }

    .course-content {
      position: absolute;
      top: 15rem;
      max-width: 60dvw;

      &.show {
        animation: reveal-sections 1s ease-in-out forwards;
      }

      h3 {
        font-size: 3.4375rem;
        letter-spacing: 0.03rem;
        line-height: 1.875rem;
        font-weight: 500;
        margin: 1rem 0 7.8125rem;
      }
    }
  }

  @include respond(2xl) {
    max-width: 70dvw;
  }
}
