@use "@/styles/breakpoints.scss" as *;

.water {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: none;

  @include respond(xl) {
    display: block;
  }

  .canvas {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}
