@use "@/styles/variables.scss" as *;

@include revealSections();
@include fadeIn();
@include fadeOut();

.course-content {
  position: absolute;
  top: 15rem;
  max-width: 60dvw;

  &.fade-out {
    animation: fade-out 0.5s forwards;
  }
  &.fade-in {
    animation: fade-in 0.5s, reveal-sections 1s;
  }

  h3 {
    font-size: 3.4375rem;
    letter-spacing: 0.03rem;
    line-height: 1.875rem;
    font-weight: 500;
    margin: 1rem 0 7.8125rem;
  }
}
